@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
/* font-family: 'Rampart One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/* font-family: 'Zen Tokyo Zoo', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
/* font-family: 'Big Shoulders Stencil Display', sans-serif; */


body {
    background-image: url(pexels-benjamin-suter-3617500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    color: azure;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

.day-container {
    clear: both;
}

.weather-card {
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    background: linear-gradient(0deg, rgba(201, 245, 247, 1) 8%, rgba(159, 244, 248, 1) 32%, rgba(86, 203, 208, 1) 51%, rgba(28, 159, 165, 1) 77%);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    float: left;
}

.weather-card:hover {
transform: scale(1.25);
}

.tittle {
    font-size: 24px;
    margin: 1rem 0 0;
    padding: 1rem 0;
    text-align: center;
    color: azure;
    background-color: #1d898e;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 10px 3px #183a43;
    -moz-box-shadow: 6px 6px 10px 3px #183a43;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=6, OffY=6, Color='#183a43', Positive='true');
    zoom: 1;
    box-shadow: 6px 6px 10px 3px #183a43;
}

#weather-info > div > div > img {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    margin-top: 1rem;
}


.logo {
    height: 25px;
    width: auto;
}

.logo2 {
    height: 30px;
    width: auto;
}
#weather-info > div > div > p {
    padding-left: 2rem;
    color: #183a43;
    font-size: 20px;
    text-underline-position: under;
}


body>div.search-container {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 17rem;
    float: right;
    margin-bottom: 4rem;
}

#new-city {
    height: 2.3rem;
    width: 10rem;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-size: 20px;
    margin-right: 0.7rem;
}

#search-button {
    color: azure;
    background-color: #1d898e;
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-size: 22px;
}



#weather-info>div>h3 {
    font-size: 40px;
    margin: 2rem;
    padding: 1rem;
    background-color: #1d898e;
    color: azure;
    border-radius: 5px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    -webkit-box-shadow: 8px 8px 8px 3px #69caa3;
    -moz-box-shadow: 8px 8px 8px 3px #69caa3;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=8, OffY=8, Color='#69caa3', Positive='true');
    zoom: 1;
    box-shadow: 8px 8px 8px 3px #69caa3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}



/* Enveloppe Alerte  */
.letter-image {
    position: absolute;
    margin-left: 3rem;
    top: 0;
    width: 20px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #01A195 transparent;
    z-index: 2;
}

.top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform .4s .4s, z-index .2s .4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform .4s .4s, z-index .2s .4s;
    transform-origin: 50% 0%;
    transition: transform .4s .4s, z-index .2s .4s;
    border-color: #50dfdb transparent transparent transparent;
    z-index: 2;
}

.back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #01A195;
    z-index: 0;
}

.left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #01A195;
    z-index: 2;
}


.letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 70px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .4s .2s;
    -moz-transition: .4s .2s;
    transition: .4s .2s;
    text-align: center;
}

.letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg,
            #1d898e,
            #01A195 8px,
            transparent 8px,
            transparent 18px);
}

.letter-context {
    width: 100%;
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 30px;
    color: red;
    text-align: center;
}

.letter-image:hover {
    .animated-mail {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
    }

    .animated-mail .top-fold {
        transition: transform .4s, z-index .2s;
        transform: rotateX(180deg);
        -webkit-transition: transform .4s, z-index .2s;
        -webkit-transform: rotateX(180deg);
        -moz-transition: transform .4s, z-index .2s;
        -moz-transform: rotateX(180deg);
        z-index: 0;
    }

    .animated-mail .letter {
        height: 180px;
    }

}




/* titre avec bordures animées */
.background-img {
    height: 100px;
    width: 60%;
    margin: 5% auto;
    position: relative;
}


body > section > div > div > div > div > h1
 {
    font-size: 40px;
    font-family: 'Rampart One', sans-serif;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(18, 6, 80);
    border: 2px solid #046861;
    color: white;
    padding: 20px;
}

.box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #01A195;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1) {
    transform: rotate(180deg);
}

.box span:nth-child(2) {
    transform: rotate(360deg);
}

.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;

    }

    100% {
        transform: scaleX(0);
        transform-origin: right;

    }
}


footer {
    background-color: transparent;
    color: azure;
    padding: 10px 0;
    text-align: center;
    position: fixed;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
}

.copyright {
    font-size: 12px;
}


/* responsive */
@media (max-width: 1391px) {

    
        .content h1 {
            font-size: 25px;
        }
  
}

@media (max-width: 648px) {

    
    .content h1 {
        font-size: 20px;
    }

}

@media (max-width: 1200px) {

.letter-image {
    visibility: hidden;
}
}